<br>
<br>

<div class="container">
  <h2>CarryCog Frequently Asked Questions.</h2>
  <p><strong>Note:</strong> Following are some of the Frequently Asked Questions on <strong>CarryCog</strong> you can always reach out to us by sending us your message on <a routerLink="/contactus">Contact Us</a></p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
    What is CarryCog?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
    CarryCog is an online community based logistic system.
    </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
    How CarryCog is helpful for me?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
    CarryCog can help you in exchanging packages to and from any countries without hustling for high logistic charges and without any third party involvement.
    </div>
      </div>
    </div>
    <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
    In which country CarryCog is operational?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
    Since CarryCog is a community based system and operating on cloud, hence it is accesable globaly.
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
    How to join CarryCog?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
      You can sign up for for free with your email ID <a routerLink="/register">Sign up now</a>
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
    How do I decide Cost/KG while posting travel details?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
    Decision is yours CarryCog does not force/limit you. Be realistic while charging for services.
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
    How to get in touch?</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
    CarryCog can help you get in touch with individuals.
    <br>Either by posting your route details.<br><strong>
OR</strong><br>
You can search and send request on existing posts from all over the world.
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
    How can I know my request has been accepted?</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">
      Whenever traveller/requester reply back to your request/offer that means your request for service has been accepted.
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
    Will CarryCog take any guarantee of my parcel?</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">
    CarryCog is a community based logistic system it helps you get in touch with traveller / requesters but <strong>does not guarantee for any deal done between individuals.</strong>
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
    How will I know what items are restricted to Carry on Airport?</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <div class="panel-body">
     You can find restricted item from your airline helpline or from world IATA website.
     <br>
     You can find some of item listed in our blog post <a href="BlogLink">Restricted Items</a>
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
    How do we ensure someone's authenticity?</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
        <div class="panel-body">
    Both parties should exchange a guarantor in between and should ask for local / destination reference ID card.
    </div>
      </div>
    </div>
  <div class="panel panel-default">
  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
    What payment channel will be used while charging for parcel delivery?</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">
      Individuals can charge in local currency by COD or any money transfer convenient for both parties.
    </div>
      </div>
    </div>
  

</div> 
</div>