<div class="theme-footer" id="mainFooter">
    <div class="container _ph-mob-0">
      <div class="row row-eq-height row-mob-full" data-gutter="60">
        <div class="col-md-3">
          <div class="theme-footer-section theme-footer-">
            <a class="theme-footer-brand _mb-mob-30" routerLink="#">
              <img src="./assets/img/logo-black.png" alt="Image Alternative text" title="Image Title"/>
            </a>
            <div class="theme-footer-brand-text" style="text-align: justify;">
              CarryCog is an online place where people can connect with travellers from any part of the world going to
              or coming from a city of your desire to send and receive packages by simply posting on CarryCog.com             
            
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4">
              <div class="theme-footer-section theme-footer-">
                <h5 class="theme-footer-section-title">CarryCog Mate</h5>
                <ul class="theme-footer-section-list">
                  <li>
                    <a routerLink="/login">Join CarryCog</a>
                  </li>
                  
                </ul>
              </div>              
            </div>
                            
            <div class="col-md-4">
              <div class="theme-footer-section theme-footer-">
                <h5 class="theme-footer-section-title">Explore</h5>
                <ul class="theme-footer-section-list">
                  <li>
                    <a routerLink="/howitworks">How It Works</a>
                  </li>
                  <li>
                    <a routerLink="/contact">Contact</a>
                  </li>
                </ul>      
                        
              </div>
            </div>
            <div class="col-md-4">
              <div class="theme-footer-section theme-footer-">
                <h5 class="theme-footer-section-title">About Us</h5>
                <ul class="theme-footer-section-list">
                  <li>
                    <a routerLink="/about">About CarryCog</a>
                  </li>
                  <li>
                    <a routerLink="/faq">FAQ</a>
                  </li>
                  <li>
                    <a routerLink="/termsofuse">Terms Of Use</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
    </div>
    </div>
  </div>
  <div class="theme-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="theme-copyright-text">Copyright &copy; 2020
                                           
            <a routerLink="#">CarryCog</a>. All rights reserved.
          </p>
        </div>
        <div class="col-md-6">
          <ul class="theme-copyright-social">
            <li>
              <a class="fa fa-facebook" href="https://www.facebook.com/carrycog" target="_blank"></a>
            </li>
            <li>
              <a class="fa fa-google" routerLink="#"></a>
            </li>
            <li>
              <a class="fa fa-twitter" routerLink="#"></a>
            </li>
            <li>
              <a class="fa fa-youtube-play" routerLink="#"></a>
            </li>
            <li>
              <a class="fa fa-instagram" routerLink="#"></a>
            </li>
          </ul>
        </div>
                
      </div>
    </div>
  </div>
 