<div class="_mob-h">
    <div class="ct-pageWrapper" id="ct-js-wrapper">

<section class="company-heading intro-type" id="parallax-one"  style="background-image:url(../assets/img/Slider2.jpg); opacity: 75%;">
    <div class="container">
      <div class="row product-title-info">
        <div class="col-md-12">
          <h1>Terms of Use</h1>
        </div>
      </div>
    </div>
    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
  </section>


<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
    <div class="container text-center">
     
      <div class="col-md-8 col-md-offset-2">
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
            The terms of use defined in our website, www.carrycog.com  are applicable to the all our respected users. By logging into our website, you are agreeing to the following terms and conditions, in other case, we suggest you to stop or accessing our services to avoid any litigation.
        </p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
  </section>

  <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
    <div class="container text-center">
      <h3>Ownership Rights</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
            Contents provided to the end-users on this website (logo, graphics, text, code, libraries etc.) are all owned by www.carrycog.com or its respected licensors and is covered by the protection of copyright, trademark, and other applicable laws. Logos, trade names, services displayed on this website are the registered and/or unregistered trademarks.
            Without prior consent of www.carrycog.com, no part of the website can be modified, copied, reproduced, stored, transmitted or used for commercial or other form of beneficiary gains except defined in our “Terms of Use”. Unauthorized use of the whole or part of website may result in a violation of ownership, copyright, regulations and/or privacy laws.             
        </p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
      <div class="container text-center">
      <h3>Use of Website</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
            Users are subjected to use this website only as intended to be used by the users and any manual/automated service and/or process to acquire unauthorized access or affect this website or to reproduce any part of the website or finding breaches is strictly prohibited and covered by the laws.
            Without any prior/further notice, we reserve the rights to restrict, put on hold or terminate to use this website if any user is found penetrating the “Terms of Use”. No further relieves maybe delivered to the above stated user.
            </p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
	<div class="container text-center">
      <h3>Registration & Privacy</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
           www.carrycog.com allows any individual or group to register on this website by complying the “Terms of Use”. Users are strongly advised to keep their information safe and never share their personal information such as username and password with others to avoid any possible loss.
Users can only login using username and password and are responsible for the safety of their credentials (if shared with someone else). In case of any unauthorized access, user must notify www.carrycog.com for the security relating to user account. We do not take any responsibility or claims for any loss or damage occurred as a result of fraudulent use of user account.
<br><p style="color:red">After successful registration, user can use our website without any hassle and we do not share your personal information with any third party without prior notification to the user.</p>
 </p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
	<div class="container text-center">
      <h3>Service Charges</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
            www.carrycog.com provides all services completely free of charges, except the charges defined in the post by the traveler or requester. Upon agreement of the estimated rate by either party, we do not take any responsibility of any fraudulent behavior conducted by user. We do not ask users to pay charges for ourselves, our services are 100% free.
</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
	<div class="container text-center">
      <h3>Terms of Posts</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
            Any post shown on the website is exclusively posted by the user and is responsible for the provided information. We do not take any responsibility for any fraudulent activity as we provide only service to community.
We strongly advise you to ask for the proper personal and/or travel information for your safekeeping before handing over any of your package or cash charges.
</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
	<div class="container text-center">
      <h3>Terms of Carriage</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
           You acknowledge and agree that any delivery made through the website is on your personal responsibility. Before carrying any package, you must read our prohibited items page to ensure your safety and avoiding any illegal activity.
We also suggest you to read the online list of banned/prohibited items of the respected airline you are travelling with for your own safety.
</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
	<div class="container text-center">
      <h3>Liability Limitation</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
          www.carrycog.com makes information and services available to the user on the basis of “as-is”, without taking into account any particular objectives, situation or needs, hence no warranties implies.
Information provided by users is not monitored by any of our representative. We do not make any suggestion or represent someone in terms of their correctness, accuracy or reliability otherwise.
www.carrycog.com will not be held responsible for any mishap happens caused by the contract agreement between the parties. 
Any fraudulent behavior will be stimulated as violation of “Terms of Use” and your account will be banned permanently and you will solely be responsible for any possible lawsuit filed against you by the party you were agreed with.
</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
	<div class="container text-center">
      <h3>Rules and Regulations</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
           Use of the website is subjected to accordance with the laws and regulations of the airlines and federals laws. By using our website, you are agreeing to the regulations imposed by the airlines or its affiliated and federal laws of traveling locations.
</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
	<div class="container text-center">
      <h3>Support</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
          In case of any suggestions, concerns or queries, related the use of website, please contact use by sending an email to mail.carrycog.com or use contact us form.
</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
  </section>
  </div>
  </div>
  <div class="_desk-h">
    <div class="ct-pageWrapper" id="ct-js-wrapper">

        <section class="company-heading intro-type" id="parallax-one"  style="background-image:url(../assets/img/Slider2.jpg); opacity: 75%;">
            <div class="container">
              <div class="row product-title-info">
                <div class="col-md-12">
                  <h1>Terms of Use</h1>
                </div>
              </div>
            </div>
            <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
          </section>
        
        
        <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
            <div class="container text-center">
             
              <div class="col-md-8 col-md-offset-2">
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                    The terms of use defined in our website, www.carrycog.com  are applicable to the all our respected users. By logging into our website, you are agreeing to the following terms and conditions, in other case, we suggest you to stop or accessing our services to avoid any litigation.
                </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
          </section>
        
          <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
            <div class="container text-center">
              <h3>Ownership Rights</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                    Contents provided to the end-users on this website (logo, graphics, text, code, libraries etc.) are all owned by www.carrycog.com or its respected licensors and is covered by the protection of copyright, trademark, and other applicable laws. Logos, trade names, services displayed on this website are the registered and/or unregistered trademarks.
                    Without prior consent of www.carrycog.com, no part of the website can be modified, copied, reproduced, stored, transmitted or used for commercial or other form of beneficiary gains except defined in our “Terms of Use”. Unauthorized use of the whole or part of website may result in a violation of ownership, copyright, regulations and/or privacy laws.             
                </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
              <div class="container text-center">
              <h3>Use of Website</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                    Users are subjected to use this website only as intended to be used by the users and any manual/automated service and/or process to acquire unauthorized access or affect this website or to reproduce any part of the website or finding breaches is strictly prohibited and covered by the laws.
                    Without any prior/further notice, we reserve the rights to restrict, put on hold or terminate to use this website if any user is found penetrating the “Terms of Use”. No further relieves maybe delivered to the above stated user.
                    </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
            <div class="container text-center">
              <h3>Registration & Privacy</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                   www.carrycog.com allows any individual or group to register on this website by complying the “Terms of Use”. Users are strongly advised to keep their information safe and never share their personal information such as username and password with others to avoid any possible loss.
        Users can only login using username and password and are responsible for the safety of their credentials (if shared with someone else). In case of any unauthorized access, user must notify www.carrycog.com for the security relating to user account. We do not take any responsibility or claims for any loss or damage occurred as a result of fraudulent use of user account.
        <br><p style="color:red">After successful registration, user can use our website without any hassle and we do not share your personal information with any third party without prior notification to the user.</p>
         </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
            <div class="container text-center">
              <h3>Service Charges</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                    www.carrycog.com provides all services completely free of charges, except the charges defined in the post by the traveler or requester. Upon agreement of the estimated rate by either party, we do not take any responsibility of any fraudulent behavior conducted by user. We do not ask users to pay charges for ourselves, our services are 100% free.
        </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
            <div class="container text-center">
              <h3>Terms of Posts</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                    Any post shown on the website is exclusively posted by the user and is responsible for the provided information. We do not take any responsibility for any fraudulent activity as we provide only service to community.
        We strongly advise you to ask for the proper personal and/or travel information for your safekeeping before handing over any of your package or cash charges.
        </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
            <div class="container text-center">
              <h3>Terms of Carriage</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                   You acknowledge and agree that any delivery made through the website is on your personal responsibility. Before carrying any package, you must read our prohibited items page to ensure your safety and avoiding any illegal activity.
        We also suggest you to read the online list of banned/prohibited items of the respected airline you are travelling with for your own safety.
        </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
            <div class="container text-center">
              <h3>Liability Limitation</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                  www.carrycog.com makes information and services available to the user on the basis of “as-is”, without taking into account any particular objectives, situation or needs, hence no warranties implies.
        Information provided by users is not monitored by any of our representative. We do not make any suggestion or represent someone in terms of their correctness, accuracy or reliability otherwise.
        www.carrycog.com will not be held responsible for any mishap happens caused by the contract agreement between the parties. 
        Any fraudulent behavior will be stimulated as violation of “Terms of Use” and your account will be banned permanently and you will solely be responsible for any possible lawsuit filed against you by the party you were agreed with.
        </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
            <div class="container text-center">
              <h3>Rules and Regulations</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                   Use of the website is subjected to accordance with the laws and regulations of the airlines and federals laws. By using our website, you are agreeing to the regulations imposed by the airlines or its affiliated and federal laws of traveling locations.
        </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
            <div class="container text-center">
              <h3>Support</h3>
              <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40" style="line-height: normal;">
                  In case of any suggestions, concerns or queries, related the use of website, please contact use by sending an email to mail.carrycog.com or use contact us form.
        </p>
                <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
              </div>
            </div>
          </section>
          </div>
  </div>


