 
 <br>
 <br>
 <div class="_mob-h">
   <div id="apus-main-content" style="padding-top: 0px;">
      <section id="main-container" class="wrapper-main-page container inner">
         <div class="row">
            <div id="main-content" class="main-page col-xs-12 clearfix">
               <div id="main" class="site-main clearfix" role="main">
                  <div data-elementor-type="wp-post" data-elementor-id="165" class="elementor elementor-165" data-elementor-settings="[]">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-0123638 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0123638" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -381.5px;">
                              <div class="elementor-container elementor-column-gap-extended">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-2453407 elementor-column elementor-col-50 elementor-top-column" data-id="2453407" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-bd95f0c elementor-widget elementor-widget-text-editor" data-id="bd95f0c" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="works">
                                                         <div class="flex-top">
                                                            <div class="left-inner"><span class="number">1</span></div>
                                                            <div class="right-inner">
                                                               <h3 class="title">Create An Account</h3>
                                                               <div class="des">
                                                                  <a routerLine="/registration" >Create an Account for free</a> using your Email, and start getting in touch with individuals.
                                                                  </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-615f972 elementor-column elementor-col-50 elementor-top-column" data-id="615f972" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-5ee36ed elementor-widget elementor-widget-image" data-id="5ee36ed" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-image">
                                                      <img width="335" height="345" src="../assets/img/work1.png" class="attachment-large size-large" alt="" 
                                                      sizes="(max-width: 335px) 100vw, 335px">											
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-4a97482 elementor-widget elementor-widget-spacer" data-id="4a97482" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="elementor-element elementor-element-0af7259 elementor-section-stretched elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0af7259" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1903px; left: -381.5px;">
                              <div class="elementor-container elementor-column-gap-extended">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-52ecbd8 elementor-column elementor-col-50 elementor-top-column" data-id="52ecbd8" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-f32bef3 elementor-widget elementor-widget-spacer" data-id="f32bef3" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-c10e8d0 elementor-widget elementor-widget-image" data-id="c10e8d0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-image">
                                                      <img width="489" height="300" src="../assets/img/work2.png"
                                                       class="attachment-large size-large" alt=""
                                                        sizes="(max-width: 489px) 100vw, 489px">											
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-7794e13 elementor-widget elementor-widget-spacer" data-id="7794e13" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-86af1dd elementor-column elementor-col-50 elementor-top-column" data-id="86af1dd" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-4836eac elementor-widget elementor-widget-spacer" data-id="4836eac" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-2d552bd elementor-widget elementor-widget-text-editor" data-id="2d552bd" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="works text-right">
                                                         <div class="flex-top">
                                                            <div class="left-inner"><span class="number">2</span></div>
                                                            <div class="right-inner">
                                                               <h3 class="title">Search or Create Posts</h3>
                                                               <div class="des">You can find existing posts from search<br>
                                                                  <strong>OR</strong><br>
                                                                  Post your route details to get in touch with individuals
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="elementor-element elementor-element-ad9815d elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ad9815d" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -381.5px;">
                              <div class="elementor-container elementor-column-gap-extended">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-4840fba elementor-column elementor-col-50 elementor-top-column" data-id="4840fba" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-c74f03d elementor-widget elementor-widget-spacer" data-id="c74f03d" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-94a1ea0 elementor-widget elementor-widget-spacer" data-id="94a1ea0" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-ac2cdb0 elementor-widget elementor-widget-text-editor" data-id="ac2cdb0" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="works">
                                                         <div class="flex-top">
                                                            <div class="left-inner"><span class="number">3</span></div>
                                                            <div class="right-inner">
                                                               <h3 class="title">Request &amp; Offer</h3>
                                                               <div class="des">Send request on traveller post, who can carry your parcel<br>
                                                                  <strong>OR</strong><br>Offer your Quotation on requester post
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-38cde0f elementor-column elementor-col-50 elementor-top-column" data-id="38cde0f" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-5845b57 elementor-widget elementor-widget-spacer" data-id="5845b57" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-ae6a317 elementor-widget elementor-widget-image" data-id="ae6a317" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-image">
                                                      <img width="378" height="360" src="../assets/img/work3.png" class="attachment-large size-large"
                                                       alt="" sizes="(max-width: 378px) 100vw, 378px">											
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-505defe elementor-widget elementor-widget-spacer" data-id="505defe" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- .site-main -->
            </div>
            <!-- .content-area -->
         </div>
      </section>
   </div>
 </div>
 <div class="_desk-h">
   <div id="apus-main-content" style="padding-top: 0px;">
      <section id="main-container" class="wrapper-main-page container inner">
         <div class="row">
            <div id="main-content" class="main-page col-xs-12 clearfix">
               <div id="main" class="site-main clearfix" role="main">
                  <div data-elementor-type="wp-post" data-elementor-id="165" class="elementor elementor-165" data-elementor-settings="[]">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-0123638 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0123638" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -381.5px;">
                              <div class="elementor-container elementor-column-gap-extended">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-2453407 elementor-column elementor-col-50 elementor-top-column" data-id="2453407" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-bd95f0c elementor-widget elementor-widget-text-editor" data-id="bd95f0c" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="works">
                                                         <div class="flex-top">
                                                            <div class="left-inner"><span class="number">1</span></div>
                                                            <div class="right-inner">
                                                               <h3 class="title">Create An Account</h3>
                                                               <div class="des">
                                                                  <a routerLine="/registration" >Create an Account for free</a> using your Email, and start getting in touch with individuals.
                                                                  </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-615f972 elementor-column elementor-col-50 elementor-top-column" data-id="615f972" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-5ee36ed elementor-widget elementor-widget-image" data-id="5ee36ed" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-image">
                                                      <img width="335" height="345" src="../assets/img/work1.png" class="attachment-large size-large" alt="" 
                                                      sizes="(max-width: 335px) 100vw, 335px">											
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-4a97482 elementor-widget elementor-widget-spacer" data-id="4a97482" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="elementor-element elementor-element-0af7259 elementor-section-stretched elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0af7259" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1903px; left: -381.5px;">
                              <div class="elementor-container elementor-column-gap-extended">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-52ecbd8 elementor-column elementor-col-50 elementor-top-column" data-id="52ecbd8" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-f32bef3 elementor-widget elementor-widget-spacer" data-id="f32bef3" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-c10e8d0 elementor-widget elementor-widget-image" data-id="c10e8d0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-image">
                                                      <img width="489" height="300" src="../assets/img/work2.png"
                                                       class="attachment-large size-large" alt=""
                                                        sizes="(max-width: 489px) 100vw, 489px">											
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-7794e13 elementor-widget elementor-widget-spacer" data-id="7794e13" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-86af1dd elementor-column elementor-col-50 elementor-top-column" data-id="86af1dd" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-4836eac elementor-widget elementor-widget-spacer" data-id="4836eac" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-2d552bd elementor-widget elementor-widget-text-editor" data-id="2d552bd" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="works text-right">
                                                         <div class="flex-top">
                                                            <div class="left-inner"><span class="number">2</span></div>
                                                            <div class="right-inner">
                                                               <h3 class="title">Search or Create Posts</h3>
                                                               <div class="des">You can find existing posts from search<br>
                                                                  <strong>OR</strong><br>
                                                                  Post your route details to get in touch with individuals
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="elementor-element elementor-element-ad9815d elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ad9815d" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -381.5px;">
                              <div class="elementor-container elementor-column-gap-extended">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-4840fba elementor-column elementor-col-50 elementor-top-column" data-id="4840fba" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-c74f03d elementor-widget elementor-widget-spacer" data-id="c74f03d" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-94a1ea0 elementor-widget elementor-widget-spacer" data-id="94a1ea0" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-ac2cdb0 elementor-widget elementor-widget-text-editor" data-id="ac2cdb0" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="works">
                                                         <div class="flex-top">
                                                            <div class="left-inner"><span class="number">3</span></div>
                                                            <div class="right-inner">
                                                               <h3 class="title">Request &amp; Offer</h3>
                                                               <div class="des">Send request on traveller post, who can carry your parcel<br>
                                                                  <strong>OR</strong><br>Offer your Quotation on requester post
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-38cde0f elementor-column elementor-col-50 elementor-top-column" data-id="38cde0f" data-element_type="column">
                                       <div class="elementor-column-wrap  elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-5845b57 elementor-widget elementor-widget-spacer" data-id="5845b57" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-ae6a317 elementor-widget elementor-widget-image" data-id="ae6a317" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-image">
                                                      <img width="378" height="360" src="../assets/img/work3.png" class="attachment-large size-large"
                                                       alt="" sizes="(max-width: 378px) 100vw, 378px">											
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-505defe elementor-widget elementor-widget-spacer" data-id="505defe" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                   <div class="elementor-spacer">
                                                      <div class="elementor-spacer-inner"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- .site-main -->
            </div>
            <!-- .content-area -->
         </div>
      </section>
   </div>
 </div>
	
  
     